.ProgressBar {
  width: 100%;
}

.meter { 
  position: relative;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  max-width: 768px;
  position: relative;
  background: rgb(50, 50, 50);
  border-radius: 4px;
  color: white;
  transform: translateY(-5px);
  z-index: -1;
  margin-bottom: 10px;
}

.meter > span {
  display: block;
  height: 10px;
  border-radius: 0 0 2px 2px;
  background-color: rgb(35, 161, 69);
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.meter.animate > span:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.meter.animate > span::after, .animate > span > span {
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}